body {
    font-family: sans-serif;
    background-color: rgb(120, 100, 100);
}

.contenedor {
    /* border: solid 1px black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 300px 300px 100px;
    gap: 1rem;
}

.contenedor div {
    /* border: solid 1px black; */
    padding: 1rem;
}

.Header {
    background: radial-gradient(red, black);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/5;
}

h1 {
    color: black;
}



/* TECHNO */

.Techno {
    background-color: rgb(132, 45, 132);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/5;
    gap: 1rem;
}

.technos {
    border-radius: 3px;
    border: none;
    background-color: rgb(212, 183, 130);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}





/* ABOUT ME */

.AboutMe {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column: 1/5;
    justify-content: space-evenly;
}

h2 {
    margin: .5rem;
    text-decoration: underline;
}

.me {
    background-color: rgb(231, 216, 216);
    border-radius: 5px;
}

.avatar {
    border: solid 1px black;
    border-radius: 3px;
    margin: .5rem;
}

p {
    margin: .5rem;
}

.me2 {
    display: grid;
    background-color: rgb(231, 216, 216);
    border-radius: 5px;
}


.me2 p {
    margin: .5rem;
}

.Projects {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 12px;
}







.Footer {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/5;
}

